.dashboard {
  padding: 24px;
}

.dashboard-intro {
  margin-bottom: 52px;
}

.dashboard-intro > h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 16px; 
}

.dashboard-intro__user-name {
  color: #FF0000;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.widget-nutrition-card__calories {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.widget-nutrition-card__proteins {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.widget-nutrition-card__carbs {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}

.widget-nutrition-card__fats {
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}
