/*------------------------------------*\
  #TOP-LEVEL-DECLARATIONS
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&display=swap');





/*------------------------------------*\
  #CSS-RESET
\*------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-size-adjust: none;
  overscroll-behavior: none; /* Eliminates the "rubberbanding" effect. */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}





/*------------------------------------*\
  #GENERAL-TYPOGRAPHY
\*------------------------------------*/

html {
  font-size: 16px;
}

body * {
  font-family: "Roboto Flex", sans-serif;
}





/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

.widget {
  position: relative;
  background-color: #F7F7F7;
  border-radius: 5px;
}

.widget__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #20253A;
  margin: 16px 20px;
}





/*------------------------------------*\
  #HOMEPAGE
\*------------------------------------*/

.navigation {
  background-color: #000000;
  padding: 16px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.navigation > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  font-size: 24px;
  font-weight: 500;
  list-style-type: none;
  padding: 0;
  margin-right: 64px;
}

.navigation__link {
  color: #FFFFFF;
  text-decoration: none;
}

.logo {
  width: auto;
  height: 64px;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 104px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.sidebar__copyright {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  margin: 16px;
  font-size: 12px;
  font-weight: 500;
}